      html {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        color: aliceblue;
      }

      .topbar { 
        background: linear-gradient(to bottom, #52a3e6, #020618);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        top: 0;
        left: 0;
        z-index: -99;
        position: absolute;
      }

      body { 
        background: #020618;
        padding-top: 150px;
        padding-left: 10px;
        padding-right: 10px;
      }

      h1 {
        font-size: 75px;
        text-align: center;
      }

      h2 {
        font-size: 50px;
      }

      h3 {
        font-size: 30px;
      }

      .secondparagraph {
        padding-left: 420px;
      }

      ul,ol,dl,p {
        font-size: 2rem;
      }

      li, p {
        line-height: 1;
      }

      ul {
        list-style-type: none;
      }

      ol {
        list-style-type: decimal;
      }

      dd, dt {
        line-height: 1.5;
      }

      dt {
        font-weight: bold;
      }