table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
th,td {
    text-align: left;
    vertical-align: top;
    padding: 0.6em;
}
tfoot {
  border-top: 1px solid #999999;
}