* {
    box-sizing: border-box;
}

.topBar {
    background-image: url("../MainBackgroundImage.jpg");
}

.topBarText {
    color: inherit;
    background: rgba(0,0,0,0.25);
    padding: 0.5rem;
    border-radius: 5px;
    width: fit-content;
    justify-self: center;
}